<!DOCTYPE html>
<html lang="en">
<head>
<title>Home Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://moment.github.io/luxon/global/luxon.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.1.1"></script>
<script src="https://www.chartjs.org/chartjs-chart-financial/chartjs-chart-financial.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://moment.github.io/luxon/global/luxon.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.25/moment-timezone-with-data.js"></script>

<style>
    .loader {
      border: 10px solid #f3f3f3;
      border-radius: 50%;
      border-top: 10px solid #3498db;
      width: 50px;
      height: 50px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
      position: fixed;
      left: 45%;
      top: 45%;
      transform: translate(-50%, -50%);
    }

    * {
      font-family: Sans-Serif;
    }

    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.25em;
    }

    .chartjs-render-monitor {
      animation: chartjs-render-animation 1ms;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

<script type="text/javascript">
$(document).ready( function () {
        var server = window.location.port ? window.location.protocol +"//"+window.location.hostname +":"+window.location.port: window.location.protocol +"//"+window.location.hostname;
        $('#userTxt').text(localStorage.getItem('user'));
        var interval = "15MINUTE";
        var symbol = 'sbin';

        $( "#intervalDropDown" ).change(function() {
          interval = $("#intervalDropDown").val();

          loadSymbolData(symbol,interval);
        });

        $( "#symbolTxt" ).change(function() {
          symbol = $("#symbolTxt").val();
          loadSymbolData(symbol,interval);
          $( "#symbolTxt" ).val("");
        });

        $(".loader").show();
        $("#chartDiv").empty();
        $.ajax({
        type: "get",
        url: server + '/getListOfAllSymbol',success: function(data){
              helpers.buildDropdown(
                  data,
                  $('#symbolDropdown'),
                  'Select an option'
              );
              $(".loader").hide();
              //loadSymbolData("sbin",interval);
          }
        });

        var helpers = {
          buildDropdown: function(result, dropdown, emptyMessage){
              dropdown.html('');
              dropdown.append('<option value="">' + emptyMessage + '</option>');
              if(result != ''){
                  $.each(result, function(k, v) {
                      dropdown.append('<option value="' + v + '">' + v + '</option>');
                  });
              }
          }
        }

        var ctx;

        function loadSymbolData(symbolName,interval){
          $(".loader").show();
          $.get({
            url: server+'/getStockIndicators/'+symbolName+"/"+interval,
            success: function(response){
              response = response.slice(0, 40);
                var dataSet = response.filter(function (el) {
                  return (el != null && el.close != null && el.close != undefined && el.close != "");
                });
                $(".loader").hide();       
                dataSet.filter((obj) => obj );
                $("#chartDiv").empty();
                var canvas = document.createElement('canvas');
                canvas.id  = "myChart";
                $( "#chartDiv" ).append(canvas);
                ctx = document.getElementById("myChart").getContext('2d');
                ctx.canvas.width = 550;
                ctx.canvas.height = 250;
                
                var now = new Date(Number(dataSet[0].timestamp));
                var india = moment.tz(now, "Asia/Kolkata");
                india.format(); 
                var start_date =india.date()+"-"+(india.month())+"-"+india.year() +"  "+india.hour()+":"+india.minute();
                $("#date_txt").html(start_date);

                var stockData = dataSet.map(obj =>{ 
                  var rObj = {};

                  var india = moment.tz(new Date(Number(obj.timestamp)), "Asia/Kolkata");
                  india.format(); 

                  var d = new Date();
                  d.setDate(india.date());
                  d.setMonth(india.month());
                  d.setFullYear(india.year());
                  d.setHours(india.hour());
                  d.setMinutes(india.minute());

                  rObj.t= d.getTime();
                  rObj.o= Number(obj.open);
                  rObj.h= Number(obj.high);
                  rObj.l= Number(obj.low);
                  rObj.c= Number(obj.close);
                  return rObj;
                }); 
                
                
                stockData = stockData.slice(0, 25);
                var chart = new Chart(ctx, 
                {
                  type: 'candlestick',
                  data: {
                    datasets: [{
                      label: symbolName,
                      data: stockData
                    }]
                  }
                });    
                var dataset = chart.config.data.datasets[0];
                dataset.color = {
                  up: '#01ff01',
                  down: '#fe0000',
                  unchanged: '#999',
                };
                chart.update();
	            }
      });  
  }
});
</script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
        <a class="navbar-brand" href="/index">Scanner</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
       

          <!-- <li ><a href="/index">Home</a></li> -->
          <li ><a href="/gainerloser">Top Gainer / Looser</a></li>
          <li><a href="/gapupdown">Gap up/Down</a></li>
          <li class="active"><a href="/allCharts">Stocks Charts</a></li>
         
          <li ><a href="/scanner">Scanner</a></li>
          <li ><a href="/strategy">Strategy</a></li>
          <li><a href="/contactus">Contact Us</a></li>  

        </ul>
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown pull-right"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <span id="userTxt"></span> <span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
            <ul class="dropdown-menu pull-right">
                <li><a href="/profile"><i class="icon-cog"></i> Profile</a></li>
                <li><a href="/preferences"><i class="icon-envelope"></i> Preferences</a></li>
                <li class="divider"></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
            </ul>
        </li>
      </ul>
      </div> 
    </div>
  </nav>
          
  <div class="container">
    <div class="row"></div>
    <br></br>
    <br></br>
    <div class="row">
          <div class="col-sm-2">
            <label>Symbol</label>
            
            <input type="text" id="symbolTxt" list="symbolDropdown" class="form-control" placeholder="Search symbol" required autofocus>
            <datalist id="symbolDropdown"></datalist>
          </div>
          <div class="col-sm-2">
            <label>Interval</label>
            <select id="intervalDropDown" class="form-control" >
                <option value="5MINUTE">5MINUTE</option>
                <option value="15MINUTE" selected="selected">15MINUTE</option>
                <option value="30MINUTE">30MINUTE</option>
                <option value="60MINUTE">60MINUTE</option>
                <option value="1DAY" >1DAY</option>
                <option value="1WEEK">1WEEK</option>
                <option value="1MONTH">1MONTH</option>
              </select>
          </div>
          
          <div class="col-sm-4">
            <label>Update till :</label>
            <label id="date_txt"></label>
          </div> 
    </div> 
    <div class="row">
      <div class="col-sm" id="chartDiv" style="position: relative; height:80vh; width:100vw;max-width: 600px;">
          <canvas id="myChart"></canvas>
      </div>  
    </div>
  </div>
  <div class="loader"></div>

</body>
</html>