<!DOCTYPE html>
<html lang="en">
<head>
<title>Stock charts</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://moment.github.io/luxon/global/luxon.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.1.1"></script>
<script src="https://www.chartjs.org/chartjs-chart-financial/chartjs-chart-financial.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://moment.github.io/luxon/global/luxon.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.25/moment-timezone-with-data.js"></script>

<style>
    .loader {
      border: 10px solid #f3f3f3;
      border-radius: 50%;
      border-top: 10px solid #3498db;
      width: 50px;
      height: 50px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
      position: fixed;
      left: 45%;
      top: 45%;
      transform: translate(-50%, -50%);
    }

    * {
      font-family: Sans-Serif;
    }

    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.25em;
    }

    .chartjs-render-monitor {
      animation: chartjs-render-animation 1ms;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

<script type="text/javascript">
$(document).ready( function () {
        var server = window.location.port ? window.location.protocol +"//"+window.location.hostname +":"+window.location.port: window.location.protocol +"//"+window.location.hostname;
        $('#userTxt').text(localStorage.getItem('user'));
        var urlParams = new URLSearchParams(window.location.search);

        var symbol =  urlParams.get('symbol');
        $( "#symbol_txt" ).html(symbol);
        loadSymbolData(symbol,'15MINUTE');
        
        var ctx;

        function loadSymbolData(symbolName,interval){
          $(".loader").show();
          $.get({
            url: server+'/getStockIndicators/'+symbolName+"/"+interval,
            success: function(response){
              response = response.slice(0, 28);
                var dataSet = response.filter(function (el) {
                  return (el != null && el.close != null && el.close != undefined && el.close != "");
                });
                $(".loader").hide();       
                dataSet.filter((obj) => obj );
                $("#chartDiv").empty();
                var canvas = document.createElement('canvas');
                canvas.id  = "myChart";
                $( "#chartDiv" ).append(canvas);
                ctx = document.getElementById("myChart").getContext('2d');
                ctx.canvas.width = 700;
                ctx.canvas.height = 400;

               
                var now = new Date(Number(dataSet[0].timestamp));
                var india = moment.tz(now, "Asia/Kolkata");
                india.format(); 
                var start_date =india.date()+"-"+(india.month())+"-"+india.year() +"  "+india.hour()+":"+india.minute();
                $("#date_txt").html(start_date);

                var stockData = dataSet.map(obj =>{ 
                  var rObj = {};

                  var india = moment.tz(new Date(Number(obj.timestamp)), "Asia/Kolkata");
                  india.format(); 

                  var d = new Date();
                  d.setDate(india.date());
                  d.setMonth(india.month());
                  d.setFullYear(india.year());
                  d.setHours(india.hour());
                  d.setMinutes(india.minute());

                  rObj.t= d.getTime();
                  rObj.o= Number(obj.open);
                  rObj.h= Number(obj.high);
                  rObj.l= Number(obj.low);
                  rObj.c= Number(obj.close);
                  return rObj;
                }); 
                
                stockData = stockData.slice(0, 40);
                var chart = new Chart(ctx, 
                {
                  type: 'candlestick',
                  data: {
                    datasets: [{
                      label: symbolName,
                      data: stockData
                    }]
                  },
                  options: {
                            legend: {
                              display: false,
                          }
                   }
                });    
                var dataset = chart.config.data.datasets[0];
                dataset.color = {
                  up: '#01ff01',
                  down: '#fe0000',
                  unchanged: '#999',
                };
                chart.update();
	            }
      });  
  }
});
</script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
        <a class="navbar-brand" href="/index">Scanner</a>
        <!-- <a><i class="fa fa-line-chart" style="font-size:35px;color:blue"></i> </a> -->
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <!-- <li ><a href="/index">Home</a></li> -->
          <li ><a href="/gainerloser">Top Gainer / Looser</a></li>
          <li><a href="/gapupdown">Gap up/Down</a></li>
          <li ><a href="/allCharts">Stocks Charts</a></li>
          <li ><a href="/scanner">Scanner</a></li>
          <li ><a href="/strategy">Strategy</a></li>
          <li><a href="/contactus">Contact Us</a></li>  

        </ul>
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown pull-right"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <span id="userTxt"></span> <span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
            <ul class="dropdown-menu pull-right">
                <li><a href="/profile"><i class="icon-cog"></i> Profile</a></li>
                <li><a href="/preferences"><i class="icon-envelope"></i> Preferences</a></li>
                <li class="divider"></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
            </ul>
        </li>
      </ul>
      </div> 
    </div>
  </nav>
          
  <div class="container">
    
    <br></br>
    <br></br>
    <div class="row">
        <span id="symbol_txt" class="col-md-6"></span>
        <span  class="col-md-6"> <span>Time :</span><span id="date_txt"></span></span>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-6" id="chartDiv" style="position: absolute; height:80vh; width:100vw;max-width: 800px;"> 
          <canvas id="myChart"></canvas>
      </div>  
    </div>
  </div>
  <div class="loader"></div>
</body>
</html>