<!DOCTYPE html>
<html lang="en">
<head>
<title>Scanner</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/tabulator-tables@4.1.3/dist/css/tabulator.min.css" rel="stylesheet">
<link href="https://unpkg.com/tabulator-tables@4.1.3/dist/css/semantic-ui/tabulator_semantic-ui.min.css" rel="stylesheet">
<style>
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 60px;
      height: 60px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
</style>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.1.3/dist/js/tabulator.min.js"></script>

<script type="text/javascript">
$(document).ready( function () {

        var server = window.location.port ? window.location.protocol +"//"+window.location.hostname +":"+window.location.port: window.location.protocol +"//"+window.location.hostname;
       
        var interval = "1DAY";
        var exchange = "nifty";

        var nseSymbols = [];

     

         $( "#exchangeDropDown" ).change(function() {
          exchange = $("#exchangeDropDown").val();
          loadAllSymbolData(interval,exchange);
        });

        

        loadAllSymbolData(interval,exchange);

        //Custom filter example
        function customFilter(data){
         return data.car && data.rating < 3;
        }

        //Trigger setFilter function with correct parameters
        function updateFilter(){

          var filter = $("#filter-field").val() == "function" ? customFilter : $("#filter-field").val();

          if($("#filter-field").val() == "function" ){
            $("#filter-type").prop("disabled", true);
            $("#filter-value").prop("disabled", true);
          }else{
            $("#filter-type").prop("disabled", false);
            $("#filter-value").prop("disabled", false);
        }

        table.setFilter(filter, $("#filter-type").val(), $("#filter-value").val());
        }

        //Update filters on value change
        $("#filter-field, #filter-type").change(updateFilter);
        $("#filter-value").keyup(updateFilter);

        //Clear filters on "Clear Filters" button click
        $("#filter-clear").click(function(){
          $("#filter-field").val("");
          $("#filter-type").val("=");
          $("#filter-value").val("");

          table.clearFilter();
        });


        function loadAllSymbolData(interval,exchange){
          $(".loader").show();
          $.get({
            url: server+'/loadAllSymbolData/'+interval+'/'+exchange,
            success: function(response){
                 $(".loader").hide();
                  var dataSet = response.filter(function (el) {
                    return (el != null && el.close != null && el.close != undefined && el.close != "");
                  });

                  $("#date_txt").html(dataSet[0].timestamp);
                  var table = new Tabulator("#example-table", {
                    data:dataSet,
                    ajaxLoader: true,
                    ajaxLoaderLoading: 'updating data',
                    placeholder:"No Data Set",
                    height:"90%",
                    width:"96%",
                    layout:"fitColumns",      //fit columns to width of table
                    responsiveLayout:"hide",  //hide columns that dont fit on the table
                    tooltips:true,            //show tool tips on cells
                    history:true,             //allow undo and redo actions on the table
                    pagination:"local",       //paginate the data
                    paginationSize:20,         //allow 7 rows per page of data
                    movableColumns:true,      //allow column order to be changed
                    initialSort:[             //set the initial sort order of the data
                      {column:"timestamp", dir:"asc"},
                    ],  
                    columns:[
                        {title:"Symbol", field:"symbol"},
                        {title:"Close", field:"close"},
                        {title:"Change", field:"change"}
                    ]
                });
            }
          });  
          }
          
});
</script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      <a class="navbar-brand" href="#">Scanner</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#scanner">Scanner</a></li>
        <li><a href="#strategy">Strategy</a></li>
        <li><a href="#contactus">Contact Us</a></li>
      </ul>
    </div> 
  </div>
</nav>
  
<div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <br></br>
  <br></br>
  <div class="row">
      <div class="col-sm-2">
        <label>Exchange</label>
        <select id="exchangeDropDown" class="form-control" >
            <option value="nifty" selected="selected">Nifty</option>
            <option value="fno">FNO Stocks</option>
           
          </select>
      </div> 


      <div class="col-sm-4">
        <label>Update till :</label>
        <label id="date_txt"></label>
      </div> 

  </div>
  <div class="row">
    <div class="col-sm">
        <div id="example-table"></div>
    </div> 
  </div>    
</div>
<div class="loader"></div>
</body>
</html>