<!DOCTYPE html>
<html lang="en">
<head>
<title>Scanner</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/tabulator-tables@4.1.3/dist/css/tabulator.min.css" rel="stylesheet">
<link href="https://unpkg.com/tabulator-tables@4.1.3/dist/css/semantic-ui/tabulator_semantic-ui.min.css" rel="stylesheet">
<style>
    .loader {
      border: 10px solid #f3f3f3;
      border-radius: 50%;
      border-top: 10px solid #3498db;
      width: 50px;
      height: 50px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
      position: fixed;
      left: 45%;
      top: 45%;
      transform: translate(-50%, -50%);
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
</style>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.1.3/dist/js/tabulator.min.js"></script>

<script type="text/javascript">
$(document).ready( function () {
        var server = window.location.port ? window.location.protocol +"//"+window.location.hostname +":"+window.location.port: window.location.protocol +"//"+window.location.hostname;       
        var interval = "1DAY";
        var exchange = "nifty";
        $('#userTxt').text(localStorage.getItem('user'));

        var nseSymbols = [];

        $( "#intervalDropDown" ).change(function() {
          interval = $("#intervalDropDown").val();
          loadAllSymbolData(interval,exchange);
        });

         $( "#exchangeDropDown" ).change(function() {
          exchange = $("#exchangeDropDown").val();
          loadAllSymbolData(interval,exchange);
        });


        loadAllSymbolData(interval,exchange);

        
        function loadAllSymbolData(interval,exchange){
          $(".loader").show();

          var reqObj = {
            interval:interval,
            exchange:exchange
        };

          $.get({
            url: server+'/getDefaultIndicators/'+interval+'/'+exchange,
            success: function(response){
                  $(".loader").hide();
                  var dataSet = response.filter(function (el) {
                    return (el != null && el.close != null && el.close != undefined && el.close != "");
                  });

                  $("#date_txt").html(dataSet[0].timestamp);
                  var table = new Tabulator("#example-table", {
                    data:dataSet,
                    ajaxLoader: true,
                    ajaxLoaderLoading: 'updating data',
                    placeholder:"No Data Set",
                    height:"90%",
                    width:"96%",
                    layout:"fitDataFill",      //fit columns to width of table
                    responsiveLayout:"hide",  //hide columns that dont fit on the table
                    tooltips:true,            //show tool tips on cells
                    history:true,             //allow undo and redo actions on the table
                    pagination:"local",       //paginate the data
                    paginationSize:20,         //allow 7 rows per page of data
                    movableColumns:true,      //allow column order to be changed
                    initialSort:[             //set the initial sort order of the data
                      {column:"timestamp", dir:"asc"},
                    ],  
                    columns:[
                        //{title:"Date", field:"timestamp"},
                        {title:"Symbol", field:"symbol",formatter:function(cell, formatterParams)
                          {
                            return "<a href='/chart?symbol="+cell.getValue() +"'>"+cell.getValue() +"</a>";
                          } 
                        },
                        {title:"Close", field:"close",widthShrink:1},
                        {title:"RSI", field:"rsi",widthShrink:1},
                        {title:"SMA", field:"sma",widthShrink:1},
                        //{title:"Bolinger Band", field:"bb.isCrossed",widthShrink:1},
                        {title:"Bolinger Band",widthShrink:1,field:"bb",formatter:function(cell, formatterParams)
                          {
                            
                            if(cell.getRow().getData().close > cell.getRow().getData().open  && cell.getRow().getData().close > cell.getValue().upper)
                              return "<p><span>Above Upper BB</span></p>";
                            else  if(cell.getRow().getData().close < cell.getRow().getData().open  && cell.getRow().getData().close < cell.getValue().lower)
                              return "<p><span>Below Lower BB</span></p>";
                            else
                             return "<p><span></span></p>";
                              
                          } 
                        },
                        {title:"Volume", field:"volume",widthShrink:0}  
                    ]
                });
            }
          });  
          }
          
});
</script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      <a class="navbar-brand" href="/index">Scanner</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="/index">Home</a></li>
        <li class="active"><a href="/scan">Scanner</a></li>
        <li><a href="/strategy">Strategy</a></li>
        <li><a href="/gainerloser">Top Gainer / Looser</a></li>
        <li><a href="/contactus">Contact Us</a></li>   
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown pull-right"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <span id="userTxt"></span> <span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
          <ul class="dropdown-menu pull-right">
              <li><a href="/profile"><i class="icon-cog"></i> Profile</a></li>
              <li><a href="/preferences"><i class="icon-envelope"></i> Preferences</a></li>
              <li class="divider"></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
          </ul>
      </li>
    </ul>
    </div> 
   
  </div>
</nav>
  
<div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <br></br>
  <br></br>
  <div class="row">
      <div class="col-sm-2">
        <label>Exchange</label>
        <select id="exchangeDropDown" class="form-control" >
            <option value="nifty" selected="selected" >Nifty</option>
            <option value="fno" >FNO Stocks</option>
            <option value="nse">NSE</option>
          </select>
      </div> 


      <div class="col-sm-2">
        <label>interval</label>
        <select id="intervalDropDown" class="form-control" >
            <option value="3MINUTE">3MINUTE</option>
            <option value="5MINUTE">5MINUTE</option>
            <option value="10MINUTE">10MINUTE</option>
            <option value="15MINUTE">15MINUTE</option>
            <option value="30MINUTE">30MINUTE</option>
            <option value="60MINUTE">60MINUTE</option>
            <option value="1DAY" selected="selected">1DAY</option>
            <option value="1WEEK">1WEEK</option>
            <option value="1MONTH">1MONTH</option>
          </select>
      </div> 
      
      

      <div class="col-sm-4">
        <label>Update till :</label>
        <label id="date_txt"></label>
      </div> 

  </div>
  <div class="row">
    <div class="col-sm">
        <div id="example-table"></div>
    </div> 
  </div>    
</div>
<div class="loader"></div>
</body>
</html>