<!DOCTYPE html>
<html lang="en">
<head>
<title>Scanner</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
<link href="https://unpkg.com/tabulator-tables@4.1.3/dist/css/tabulator.min.css" rel="stylesheet">
<link href="https://unpkg.com/tabulator-tables@4.1.3/dist/css/semantic-ui/tabulator_semantic-ui.min.css" rel="stylesheet">


<script src="https://moment.github.io/luxon/global/luxon.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://moment.github.io/luxon/global/luxon.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.25/moment-timezone-with-data.js"></script>


<style>
    .loader {
      border: 10px solid #f3f3f3;
      border-radius: 50%;
      border-top: 10px solid #3498db;
      width: 50px;
      height: 50px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
      position: fixed;
      left: 45%;
      top: 45%;
      transform: translate(-50%, -50%);
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .indicatorsRow{
      padding-bottom:10px;
    }

    .btn-label {
        padding:6px;
        position: relative;
        display: inline-block;
        background: rgb(217, 223, 255);
        border-radius: 3px
    }

    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    #target{
      padding-bottom:15px;
    }

  /*  
    text {
        fill: #000;
    }

    path.candle {
        stroke: #000000;
    }

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: #00AA00;
        stroke: #00AA00;
    }

    path.candle.down {
        fill: #FF0000;
        stroke: #FF0000;
    }

    path.tradearrow {
        stroke: none;
    }

    path.tradearrow.buy {
        fill: #0000FF;
    }

    path.tradearrow.buy-pending {
        fill-opacity: 0.2;
        stroke: #0000FF;
        stroke-width: 1.5;
    }

    path.tradearrow.sell {
        fill: #9900FF;
    }

    .tradearrow path.highlight {
        fill: none;
        stroke-width: 2;
    }

    .tradearrow path.highlight.buy,.tradearrow path.highlight.buy-pending {
        stroke: #0000FF;
    }

    .tradearrow path.highlight.buy-pending {
        fill: #0000FF;
        fill-opacity: 0.3;
    }

    .tradearrow path.highlight.sell {
        stroke: #9900FF;
    }
     */

    .bollinger path {
        fill: none;
        stroke-width: 1;
    }

    .bollinger path.upper {
        stroke: #0000AA;
    }

    .bollinger path.lower {
        stroke: #FF9999;
    }

    .bollinger path.middle {
        stroke: #BBBBBB;
    }

    text {
        fill: #000;
    }

    text.symbol {
        fill: #BBBBBB;
    }

    path {
        fill: none;
        stroke-width: 1;
    }

    path.candle {
        stroke: #000000;
    }

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: #00AA00;
        stroke: #00AA00;
    }

    path.candle.down {
        fill: #FF0000;
        stroke: #FF0000;
    }

    .close.annotation.up path {
        fill: #00AA00;
    }

    path.volume {
        fill: #DDDDDD;
    }

    .indicator-plot path.line {
        fill: none;
        stroke-width: 1;
    }

    .ma-0 path.line {
        stroke: #1f77b4;
    }

    .ma-1 path.line {
        stroke: #aec7e8;
    }

    .ma-2 path.line {
        stroke: #ff7f0e;
    }

    

    path.macd {
        stroke: #0000AA;
    }

    path.signal {
        stroke: #FF9999;
    }

    path.zero {
        stroke: #BBBBBB;
        stroke-dasharray: 0;
        stroke-opacity: 0.5;
    }

    path.difference {
        fill: #BBBBBB;
        opacity: 0.5;
    }

    path.rsi {
        stroke: #000000;
    }

    path.overbought, path.oversold {
        stroke: #FF9999;
        stroke-dasharray: 5, 5;
    }

    path.middle, path.zero {
        stroke: #BBBBBB;
        stroke-dasharray: 5, 5;
    }

    .analysis path, .analysis circle {
        stroke: blue;
        stroke-width: 0.8;
    }

    .trendline circle {
        stroke-width: 0;
        display: none;
    }

    .mouseover .trendline path {
        stroke-width: 1.2;
    }

    .mouseover .trendline circle {
        stroke-width: 1;
        display: inline;
    }

    .dragging .trendline path, .dragging .trendline circle {
        stroke: darkblue;
    }

    .interaction path, .interaction circle {
        pointer-events: all;
    }

    .interaction .body {
        cursor: move;
    }

    .trendlines .interaction .start, .trendlines .interaction .end {
        cursor: nwse-resize;
    }

    .supstance path {
        stroke-dasharray: 2, 2;
    }

    .supstances .interaction path {
        pointer-events: all;
        cursor: ns-resize;
    }

    .mouseover .supstance path {
        stroke-width: 1.5;
    }

    .dragging .supstance path {
        stroke: darkblue;
    }

    .crosshair {
        cursor: crosshair;
    }

    .crosshair path.wire {
        stroke: #DDDDDD;
        stroke-dasharray: 1, 1;
    }

    .crosshair .axisannotation path {
        fill: #DDDDDD;
    }

    .tradearrow path.tradearrow {
        stroke: none;
    }

    .tradearrow path.buy {
        fill: #0000FF;
    }

    .tradearrow path.sell {
        fill: #9900FF;
    }

    .tradearrow path.highlight {
        fill: none;
        stroke-width: 2;
    }

    .tradearrow path.highlight.buy {
        stroke: #0000FF;
    }

    .tradearrow path.highlight.sell {
        stroke: #9900FF;
    }

</style>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.1.3/dist/js/tabulator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web-socket-js/1.0.0/web_socket.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/techan.js/0.8.0/techan.min.js"></script>

<script type="text/javascript">

$(document).ready( function () {
        var interval = "15MINUTE";
        var strategyListArr = [];
        var symbolListArr = [];
        var symbol = '';
        var selectedSid = -1;
        var count = 0;
        var exchange= '';
        var instrumentType= '';
        var selctedStrategyIndex = -1;
        var index= 0;
        var selectedSid= -1;
        var items ={};
        var template = $("#items_tmp").html();
        var allIndicators= [
        {
            "name":"number",
            "input":'0',
            "config":'number'
        },
        {
            "name":"candle",
            "input":'',
            "config":'candle'
        },
        {
            "name":"close",
            "input":'',
            "config":'close'
        },
        {
            "name":"low",
            "input":'',
            "config":'low'
        },
        {
            "name":"high",
            "input":'',
            "config":'high'
        },
        {
            "name":"open",
            "input":'',
            "config":'open'
        },
        {
            "name":"volume",
            "input":'',
            "config":'volume'
        },
        {
            "name":"ATR",
            "input":'high,low,close,14',
            "config":'high,low,close,period'
        },
        {
            "name":"BB.upper",
            "input":'14,close,2',
            "config":'period,values,stdDev'
        },
        {
            "name":"BB.lower",
            "input":'14,close,2',
            "config":'period,values,stdDev'
        },{
            "name":"MACD",
            "input":'close,fastPeriod,slowPeriod,false,false',
            "config":'values,fastPeriod,slowPeriod,SimpleMAOscillator,SimpleMASignal'
        },{
            "name":"RSI",
            "input":'close,14',
            "config":'values,period'
        },{
            "name":"SMA",
            "input":'close,50',
            "config":'values,period'
        },{
            "name":"EMA",
            "input":'close,50',
            "config":'values,period'
        },{
            "name":"ADX",
            "input":'close,high,low,14',
            "config":'close,high,low,period'
        },{
            "name":"Lowest",
            "input":'close,14',
            "config":'values,period'
        },{
            "name":"Highest",
            "input":'close,14',
            "config":'values,period'
        } ,{
            "name":"bullish",
            "input":'candle',
            "config":'values'
        } ,{
            "name":"bearish",
            "input":'candle',
            "config":'values'
        } 
        
    ];
  
      
      $("#saveButton").hide();
      var server = window.location.port ? window.location.protocol +"//"+window.location.hostname +":"+window.location.port: window.location.protocol +"//"+window.location.hostname;
      $('#userTxt').text(localStorage.getItem('user'));
     
      $('.nav-tabs a[href="#strategyListPanel"]').tab('show');
      getAllStrategy();

      function getAllStrategy()
      {
          strategyListArr = [];
          selectedSid = -1;
          var uid = localStorage.getItem('uid');
          $(".loader").show();
          $.get({
            url: server+'/strategyList/'+uid,
            success: function(list){
                $(".loader").hide();       
                strategyListArr = list.filter(function (el) {
                  return (el != null && el.name != null && el.name != undefined && el.name != "");
                });

                helpers.buildDropdown(strategyListArr,$('#strategyDropdown'),'Select an option','name');

                createTable()
              }
          });
      }

      function createTable()
      {
          var table = new Tabulator("#strategyTable", {
                data:strategyListArr,
                ajaxLoader: true,
                ajaxLoaderLoading: 'updating data',
                placeholder:"No Data Set",
                height:"100%",
                width:"90%",
                layout:"fitDataFill",      //fit columns to width of table
                tooltips:true,            //show tool tips on cells
                history:true,             //allow undo and redo actions on the table
                pagination:"local",       //paginate the data
                paginationSize:20,         //allow 7 rows per page of data
                movableColumns:true,      //allow column order to be changed
                columns:[
                    {title:"Name", field:"name",widthShrink:1},
                    {title:"Description", field:"description",widthShrink:1},
                    {title:"Category", field:"category",widthShrink:1},
                    {
                      title:"Edit",widthShrink:1,field:"sid",formatter:function(cell, formatterParams)
                      {
                        return "<span class='btn-label'><i id='edit-"+cell.getValue()+"'class='glyphicon glyphicon-edit'></i></span>";
                      } 
                    },
                    {
                      title:"Delete",widthShrink:1,field:"sid",formatter:function(cell, formatterParams)
                      {
                        return "<span class='btn-label'><i id='"+cell.getValue()+"'class='glyphicon glyphicon-trash'></i></span>";
                      } 
                    },
                ],
                rowClick:function(e, row){
                    if(e.target.classList.contains("glyphicon-trash")){
                      //alert("Row " + e.target.id + " Clicked!!!!")
                      $.get({
                          url: server+'/deleteStrategy/'+e.target.id,
                          success: function(list){
                              $(".loader").hide();  
                              getAllStrategy();
                            }
                      }); 
                    }
                    else if(e.target.classList.contains("glyphicon-edit")){
                      var sid = String(e.target.id).substr(5,5);
                      $.get({
                          url: server+'/indicatorList/'+sid,
                          success: function(list){
                              $(".loader").hide();  
                              //console.log(list);
                              // Select first tab
                              //$('.nav-tabs a:first').tab('show');
                              $('.nav-tabs a[href="#addStrategyPanel"]').tab('show');
                              selectedSid = sid;
                              createIndicators(list);
                            }
                      }); 
                    }
                },
                rowContext:function(e, row){
                    //alert("Row " + row.getIndex() + " Context Clicked!!!!")
                },
            });
      }
      
      $('#saveBtn').on('click', function(event) {
        event.preventDefault(); // To prevent following the link (optional)
        var indicatorArr = [];
        var indicatorsRow= $( ".indicatorsRow" );
        for(var i=0;i<indicatorsRow.length;i++){
          var obj  = {};
          obj.indicator1 = $($( ".row .indicatorTxt1" )[i]).val();
          obj.indicator2 = $($(".row .indicatorTxt2")[i]).val();
          obj.indicator_config1 = $($( ".row .inputTxt1" )[i]).val();
          obj.indicator_config2 = $($( ".row .inputTxt2" )[i]).val();
          obj.value = $($( ".row .inputTxt" )[i]).val()
          obj.op = $($( ".row .opDropDown" )[i]).val();
          
          indicatorArr.push(obj);
        }

        var strategyObj = {
                uid:localStorage.getItem('uid'),
                sid:selectedSid,
                name:$("#nameTxt").val(),
                indicators:indicatorArr,
                description:$("#descriptionTxt").val(),
                category:$("#category").val(),
                isPrivate:$("#is_private")[0].checked
        };

      var api = '/createStrategy';
      if(selectedSid >= 0)
        api ='/updateStrategy';

        $.ajax({
              type: "post",
              data: {data:JSON.stringify(strategyObj)},
              url: server + api,
              success: function(msg){
                $("#nameTxt").val('');
                $("#descriptionTxt").val(''),
                $("#category").val(''),
                $("#is_private")[0].checked =false;
                $('#strategyModal').modal('hide');
                $("#target").empty();
                //$('.nav-tabs a:last').tab('show');
                $('.nav-tabs a[href="#strategyListPanel"]').tab('show');
                
                selectedSid = -1;
                index = 0;
                getAllStrategy();
              }
            });
      });

      $('#saveButton').on('click', function(event) {
        event.preventDefault(); 
        $('#strategyModal').modal('show');

        var id = -1;
        var count = 0;
        strategyListArr.map(strategy=>{
          if(strategy.sid == selectedSid)
          {
            id = count;
          }
          count ++;
        });

        if(id >= 0){
          $("#nameTxt").val(strategyListArr[id]['name']);
          $("#descriptionTxt").val(strategyListArr[id]['description']),
          $("#category").val(strategyListArr[id]['category']),
          $("#is_private")[0].checked =strategyListArr[id]['isPrivate'];
        }
      });

      $('#addButton').on('click', function(event) {
        event.preventDefault(); // To prevent following the link (optional)
        $("#notePanel").hide();
        items.items = [];
        index= index + 1;
        items.items.push({'id' :index });
        template = $("#items_tmp").html();
        html = Mustache.to_html(template, items);

        $("#target").append(html);
        helpers.buildDropdown(allIndicators, $('#indicatorsRow'+index+' .indicatorTxt1'),'Select an option','name');
        helpers.buildDropdown(allIndicators, $('#indicatorsRow'+index+' .indicatorTxt2'),'Select an option','name');

        if($("#target").children().length > 0){
          $('#saveButton').show();
        }

       
        $( ".row .indicatorTxt2" ).change(function(e) {
          var val = $( this ).val();

          var input = '';
          allIndicators.map(indicator1=>{
            if(indicator1['name'] == val){
              input = indicator1['input'];
            }
          });

          if(input != ''){
            $(this.parentElement.parentElement.children[5].children[0]).val(input);
            $(this.parentElement.parentElement.children[5].children[0]).show();
          }
          else
            $(this.parentElement.parentElement.children[5].children[0]).hide();  
        });

         $( ".row .indicatorTxt1" ).change(function(e) {
          var val = $( this ).val();

          var input = '';
          allIndicators.map(indicator1=>{
            if(indicator1['name'] == val){
              input = indicator1['input'];
            }
          });

          if(input != ''){
            $(this.parentElement.parentElement.children[2].children[0]).val(input);
            $(this.parentElement.parentElement.children[2].children[0]).show();
          }
          else
            $(this.parentElement.parentElement.children[2].children[0]).hide();  
        });

        $('#target .delBtn').on('click', function(event) {
            event.preventDefault();
            index =index-1;
           
            $(this.parentElement.parentElement).remove();
            if($("#target").children().length == 0){
              $('#saveButton').hide();
            }
        });
      });

      // Select all tabs
       $('.nav-tabs a').click(function(){
        $("#notePanel").show();
        items.items = [];
        $("#target").empty();
        index = 0;
        selectedSid = -1;
        $('#saveButton').hide();
      })

      function createIndicators(list) {
        $("#notePanel").hide();
        items.items = [];
        $("#target").empty();
        list.map(indicator=>{
          index= index + 1;
          items.items = [];
          items.items.push({'id' :index });
          template = $("#items_tmp").html();
          html = Mustache.to_html(template, items);
          $("#target").append(html);
          helpers.buildDropdown(allIndicators, $('#indicatorsRow'+index+' .indicatorTxt1'),'Select an option','name');
          helpers.buildDropdown(allIndicators, $('#indicatorsRow'+index+' .indicatorTxt2'),'Select an option','name');

          $('#indicatorsRow'+index+' .indicatorTxt1')[0].value = indicator.indicator1;
          $('#indicatorsRow'+index+' .indicatorTxt2')[0].value = indicator.indicator2;
          $('#indicatorsRow'+index+' .opDropDown')[0].value = indicator.op;
          //$('#indicatorsRow'+index+' .inputTxt')[0].value = indicator.value;
          $('#indicatorsRow'+index+' .inputTxt1')[0].value = indicator.indicator_config1;
          $('#indicatorsRow'+index+' .inputTxt2')[0].value = indicator.indicator_config2;
        });
        if($("#target").children().length > 0){
          $('#saveButton').show();
        }
        
        
        $('#target .delBtn').on('click', function(event) {
            event.preventDefault();
            //console.log("index > " + index);
            index =index-1;
            
            $(this.parentElement.parentElement).remove();
            if($("#target").children().length == 0){
              $('#saveButton').hide();
            }
        });
        
        $( ".row .indicatorTxt2" ).change(function(e) {
          var val = $( this ).val();

          var input = '';
          allIndicators.map(indicator1=>{
            if(indicator1['name'] == val){
              input = indicator1['input'];
            }
          });

          if(input != ''){
            $(this.parentElement.parentElement.children[5].children[0]).val(input);
            $(this.parentElement.parentElement.children[5].children[0]).show();
          }
          else
            $(this.parentElement.parentElement.children[5].children[0]).hide();  
        });

         $( ".row .indicatorTxt1" ).change(function(e) {
          var val = $( this ).val();

          var input = '';
          allIndicators.map(indicator1=>{
            if(indicator1['name'] == val){
              input = indicator1['input'];
            }
          });

          if(input != ''){
            $(this.parentElement.parentElement.children[2].children[0]).val(input);
            $(this.parentElement.parentElement.children[2].children[0]).show();
          }
          else
            $(this.parentElement.parentElement.children[2].children[0]).hide();
        });
      }

      $( "#instrumentDropdown" ).change(function() {
          instrumentType = $("#instrumentDropdown").val();
      });

      $( "#exchangesDropdown" ).change(function() {
          exchange = $("#exchangesDropdown").val();
          $.ajax({
          type: "get",
          url: server + '/getInstrumentTypes/'+exchange,success: function(data){
              helpers.buildDropdown(
                  data,
                  $('#instrumentDropdown'),
                  'Select an option'
              );
              $(".loader").hide();
          }
          });
          
          $.ajax({
          type: "get",
          url: server + '/getOptionType/'+exchange,success: function(data){
              helpers.buildDropdown(
                  data,
                  $('#typeDropdown'),
                  'Select an option'
              );
              $(".loader").hide();
          }
          });
        });

      $( "#intervalDropDown" ).change(function() {
        interval = $("#intervalDropDown").val();
      });

      $("#symbolTxt").on('input', function () {
        var search =  $("#symbolTxt").val();

        if(exchange && search.length >= 2){
          $.ajax({
            type: "get",
            url: server + '/getInstrumentsOnSearch/'+exchange+'/'+instrumentType+'/'+search.trim(),success: function(data){
              //console.log("data " + data);
                  symbolListArr = [];
                  symbolListArr = data;

                  helpers.buildDropdown(data,$('#intrumentDropdown'),'Select an option','IDENTIFIER');
              }
          });
        }
        $("#symbolTxt").val(search.trim());
      });

      $( "#symbolDropdown" ).change(function() {
        symbol = $("#symbolDropdown").val();
        console.log(symbol);

      });

      $.ajax({
        type: "get",
        url: server + '/getIndices',success: function(data){
              helpers.buildDropdown(
                  data,
                  $('#exchangesDropdown'),
                  'Select an option'
              );
              $(".loader").hide();
             
          }
        });

      var helpers = {
          buildDropdown: function(result, dropdown, emptyMessage,field){
              dropdown.html('');
              dropdown.append('<option value="">' + emptyMessage + '</option>');
              if(result != ''){
                if(field){
                  $.each(result, function(k, v) {
                      dropdown.append('<option value="' + v[field]+ '">' + v[field] + '</option>');
                  });
                }
                else
                {
                  $.each(result, function(k, v) {
                      dropdown.append('<option value="' + v+ '">' + v+ '</option>');
                  });
                }
              }
          },

      }

      var ws = new WebSocket('ws://localhost:8080');
      ws.onopen = function() {
      //ws.send("Hello"); 
      };
      ws.onmessage = function(e) {
        var strategy = JSON.parse(e.data);
        if(localStorage.getItem('uid') == strategy.data.strategy.uid){
            Command: toastr["info"](strategy.data.strategy.symbol)
            //Command: toastr["info"](e.data)

            toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
            }
          }
      };
      ws.onclose = function() {
        console.log("closed");
      };

    
      $( "#strategyDropdown" ).change(function() {
        selctedStrategyIndex =document.getElementById("strategyDropdown").selectedIndex - 1;
      });

      
      $('#backTestBtn').on('click', function(event) {
          var uid=localStorage.getItem('uid');
          var sid=selctedStrategyIndex >= 0 ? strategyListArr[selctedStrategyIndex]['sid']:-1;
          var symbol= $("#symbolTxt").val();
          //console.log('click' + uid + sid + exchange+interval+symbol);
          $.get({
            url: server+'/api/backtestStrategy/'+uid+'/'+sid+'/'+exchange+'/'+interval+'/'+symbol,
            success: function(response){
                $(".loader").hide();       
                var accessor = candlestick.accessor(),
                indicatorPreRoll = 33;  // Don't show where indicators don't have data

              var trades = [];
              var data = response.slice(0, 200).map(function(d) {
                  var india = moment.tz(new Date(Number(d.LASTTRADETIME)), "Asia/Kolkata");
                  india.format(); 
                  var d1 = new Date();
                  d1.setDate(india.date());
                  d1.setMonth(india.month());
                  d1.setFullYear(india.year());
                  d1.setHours(india.hour());
                  d1.setMinutes(india.minute());
                  d1.setSeconds(india.second());
                  
                  if(d.signal == "buy"){
                    var trade = {};
                    trade.date= d1;
                    trade.type= "buy";
                    trade.price= d.CLOSE;
                    trade.quantity= 1000;
                    trades.push(trade);
                  }if(d.signal == "sell"){
                    var trade = {};
                    trade.date= d1;
                    trade.type= "sell";
                    trade.price= d.CLOSE;
                    trade.quantity= 1000;
                    trades.push(trade);
                  }
                  else if(d.signal == true){
                    var trade = {};
                    trade.date= d1;
                    trade.type= "buy";
                    trade.price= d.CLOSE;
                    trade.low= d.LOW;
                    trade.high= d.HIGH;
                    trade.quantity= 1000;
                    trades.push(trade);
                  } 

                  return {
                      date: d1,
                      open: +d.OPEN,
                      high: +d.HIGH,
                      low: +d.LOW,
                      close: +d.CLOSE,
                      volume: +d.TRADEDQTY
                  };
              }).sort(function(a, b) { return d3.ascending(accessor.d(a), accessor.d(b)); });


              x.domain(techan.scale.plot.time(data).domain());
              y.domain(techan.scale.plot.ohlc(data.slice(indicatorPreRoll)).domain());
              yPercent.domain(techan.scale.plot.percent(y, accessor(data[indicatorPreRoll])).domain());
              yVolume.domain(techan.scale.plot.volume(data).domain());

              var trendlineData = [
                  { start: { date: new Date(2014, 2, 11), value: 72.50 }, end: { date: new Date(2014, 5, 9), value: 63.34 } },
                  { start: { date: new Date(2013, 10, 21), value: 43 }, end: { date: new Date(2014, 2, 17), value: 70.50 } }
              ];

              var supstanceData = [
                  { start: new Date(2014, 2, 11), end: new Date(2014, 5, 9), value: 63.64 },
                  { start: new Date(2013, 10, 21), end: new Date(2014, 2, 17), value: 55.50 }
              ];

              var macdData = techan.indicator.macd()(data);
              macdScale.domain(techan.scale.plot.macd(macdData).domain());
              var rsiData = techan.indicator.rsi()(data);
              rsiScale.domain(techan.scale.plot.rsi(rsiData).domain());
              var bollingerData = techan.indicator.bollinger()(data);
              svg.select("g.candlestick").datum(data).call(candlestick);
              svg.selectAll("g.bollinger").datum(bollingerData).call(bollinger);
              svg.select("g.close.annotation").datum([data[data.length-1]]).call(closeAnnotation);
              svg.select("g.volume").datum(data).call(volume);
              svg.select("g.sma.ma-0").datum(techan.indicator.sma().period(50)(data)).call(sma0);
              //svg.select("g.sma.ma-1").datum(techan.indicator.sma().period(20)(data)).call(sma1);
              //svg.select("g.ema.ma-2").datum(techan.indicator.ema().period(50)(data)).call(ema2);
              svg.select("g.rsi .indicator-plot").datum(rsiData).call(rsi);
              svg.select("g.macd .indicator-plot").datum(macdData).call(macd);
              
              svg.select("g.crosshair.ohlc").call(ohlcCrosshair).call(zoom);
              svg.select("g.crosshair.rsi").call(rsiCrosshair).call(zoom);
              svg.select("g.crosshair.macd").call(macdCrosshair).call(zoom);
             
              svg.select("g.trendlines").datum(trendlineData).call(trendline).call(trendline.drag);
              svg.select("g.supstances").datum(supstanceData).call(supstance).call(supstance.drag);

              svg.select("g.tradearrow").datum(trades).call(tradearrow);

              // Stash for zooming
              zoomableInit = x.zoomable().domain([indicatorPreRoll, data.length]).copy(); // Zoom in a little to hide indicator preroll
              yInit = y.copy();
              yPercentInit = yPercent.copy();

              draw();
              }
          });

      });


      /* var margin = {top: 20, right: 10, bottom: 30, left: 60},
            width = window.innerWidth - window.innerWidth * 0.2,
            height = 500 - margin.top - margin.bottom;*/

            var dim = {
                width: 960, height: 500,
                margin: { top: 20, right: 50, bottom: 30, left: 50 },
                ohlc: { height: 305 },
                indicator: { height: 65, padding: 5 }
            };
            dim.plot = {
                width: dim.width - dim.margin.left - dim.margin.right,
                height: dim.height - dim.margin.top - dim.margin.bottom
            };
            dim.indicator.top = dim.ohlc.height+dim.indicator.padding;
            dim.indicator.bottom = dim.indicator.top+dim.indicator.height+dim.indicator.padding;

            var indicatorTop = d3.scaleLinear()
                    .range([dim.indicator.top, dim.indicator.bottom]);

            var parseDate = d3.timeParse("%d-%b-%y");

            var zoom = d3.zoom()
                    .on("zoom", zoomed);

            var x = techan.scale.financetime()
                    .range([0, dim.plot.width]);

            var y = d3.scaleLinear()
                    .range([dim.ohlc.height, 0]);


            var yPercent = y.copy();   // Same as y at this stage, will get a different domain later

            var yInit, yPercentInit, zoomableInit;

            var yVolume = d3.scaleLinear()
                    .range([y(0), y(0.2)]);

            var candlestick = techan.plot.candlestick()
                    .xScale(x)
                    .yScale(y);


            var bollinger = techan.plot.bollinger()
            .xScale(x)
            .yScale(y);

            var tradearrow = techan.plot.tradearrow()
                    .xScale(x)
                    .yScale(y)
                    .y(function(d) {
                        // Display the buy and sell arrows a bit above and below the price, so the price is still visible
                        if(d.type === 'buy') return y(d.low)+5;
                        if(d.type === 'sell') return y(d.high)-5;
                        else return y(d.price);
                    });

            var sma0 = techan.plot.sma()
                    .xScale(x)
                    .yScale(y);

           /*  var sma1 = techan.plot.sma()
                    .xScale(x)
                    .yScale(y);

            var ema2 = techan.plot.ema()
                    .xScale(x)
                    .yScale(y); */

            var volume = techan.plot.volume()
                    .accessor(candlestick.accessor())   // Set the accessor to a ohlc accessor so we get highlighted bars
                    .xScale(x)
                    .yScale(yVolume);

            var trendline = techan.plot.trendline()
                    .xScale(x)
                    .yScale(y);

            var supstance = techan.plot.supstance()
                    .xScale(x)
                    .yScale(y);

            var xAxis = d3.axisBottom(x);

            var timeAnnotation = techan.plot.axisannotation()
                    .axis(xAxis)
                    .orient('bottom')
                    .format(d3.timeFormat('%Y-%m-%d'))
                    .width(65)
                    .translate([0, dim.plot.height]);

            var yAxis = d3.axisRight(y);

            var ohlcAnnotation = techan.plot.axisannotation()
                    .axis(yAxis)
                    .orient('right')
                    .format(d3.format(',.2f'))
                    .translate([x(1), 0]);

            var closeAnnotation = techan.plot.axisannotation()
                    .axis(yAxis)
                    .orient('right')
                    .accessor(candlestick.accessor())
                    .format(d3.format(',.2f'))
                    .translate([x(1), 0]);

            var percentAxis = d3.axisLeft(yPercent)
                    .tickFormat(d3.format('+.1%'));

            var percentAnnotation = techan.plot.axisannotation()
                    .axis(percentAxis)
                    .orient('left');

            var volumeAxis = d3.axisRight(yVolume)
                    .ticks(3)
                    .tickFormat(d3.format(",.3s"));

            var volumeAnnotation = techan.plot.axisannotation()
                    .axis(volumeAxis)
                    .orient("right")
                    .width(35);

            var macdScale = d3.scaleLinear()
                    .range([indicatorTop(0)+dim.indicator.height, indicatorTop(0)]);

            var rsiScale = macdScale.copy()
                    .range([indicatorTop(1)+dim.indicator.height, indicatorTop(1)]);

            var macd = techan.plot.macd()
                    .xScale(x)
                    .yScale(macdScale);

            var macdAxis = d3.axisRight(macdScale)
                    .ticks(3);

            var macdAnnotation = techan.plot.axisannotation()
                    .axis(macdAxis)
                    .orient("right")
                    .format(d3.format(',.2f'))
                    .translate([x(1), 0]);

            var macdAxisLeft = d3.axisLeft(macdScale)
                    .ticks(3);

            var macdAnnotationLeft = techan.plot.axisannotation()
                    .axis(macdAxisLeft)
                    .orient("left")
                    .format(d3.format(',.2f'));

            var rsi = techan.plot.rsi()
                    .xScale(x)
                    .yScale(rsiScale);

            var rsiAxis = d3.axisRight(rsiScale)
                    .ticks(3);

            var rsiAnnotation = techan.plot.axisannotation()
                    .axis(rsiAxis)
                    .orient("right")
                    .format(d3.format(',.2f'))
                    .translate([x(1), 0]);

            var rsiAxisLeft = d3.axisLeft(rsiScale)
                    .ticks(3);

            var rsiAnnotationLeft = techan.plot.axisannotation()
                    .axis(rsiAxisLeft)
                    .orient("left")
                    .format(d3.format(',.2f'));

            var ohlcCrosshair = techan.plot.crosshair()
                    .xScale(timeAnnotation.axis().scale())
                    .yScale(ohlcAnnotation.axis().scale())
                    .xAnnotation(timeAnnotation)
                    .yAnnotation([ohlcAnnotation, percentAnnotation, volumeAnnotation])
                    .verticalWireRange([0, dim.plot.height]);

            var macdCrosshair = techan.plot.crosshair()
                    .xScale(timeAnnotation.axis().scale())
                    .yScale(macdAnnotation.axis().scale())
                    .xAnnotation(timeAnnotation)
                    .yAnnotation([macdAnnotation, macdAnnotationLeft])
                    .verticalWireRange([0, dim.plot.height]);

            var rsiCrosshair = techan.plot.crosshair()
                    .xScale(timeAnnotation.axis().scale())
                    .yScale(rsiAnnotation.axis().scale())
                    .xAnnotation(timeAnnotation)
                    .yAnnotation([rsiAnnotation, rsiAnnotationLeft])
                    .verticalWireRange([0, dim.plot.height]);

            var svg = d3.select("#myChart").append("svg")
                    .attr("width", dim.width)
                    .attr("height", dim.height);

            var defs = svg.append("defs");

            defs.append("clipPath")
                    .attr("id", "ohlcClip")
                .append("rect")
                    .attr("x", 0)
                    .attr("y", 0)
                    .attr("width", dim.plot.width)
                    .attr("height", dim.ohlc.height);

            defs.selectAll("indicatorClip").data([0, 1])
                .enter()
                    .append("clipPath")
                    .attr("id", function(d, i) { return "indicatorClip-" + i; })
                .append("rect")
                    .attr("x", 0)
                    .attr("y", function(d, i) { return indicatorTop(i); })
                    .attr("width", dim.plot.width)
                    .attr("height", dim.indicator.height);

            svg = svg.append("g")
                    .attr("transform", "translate(" + dim.margin.left + "," + dim.margin.top + ")");

            svg.append('text')
                    .attr("class", "symbol")
                    .attr("x", 20)
                    .text($("#symbolTxt").val());

            svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + dim.plot.height + ")");

            var ohlcSelection = svg.append("g")
                    .attr("class", "ohlc")
                    .attr("transform", "translate(0,0)");

            ohlcSelection.append("g")
                    .attr("class", "axis")
                    .attr("transform", "translate(" + x(1) + ",0)")
                .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", -12)
                    .attr("dy", ".71em")
                    .style("text-anchor", "end")
                    .text("Price");

            ohlcSelection.append("g")
                    .attr("class", "close annotation up");

            ohlcSelection.append("g")
                    .attr("class", "volume")
                    .attr("clip-path", "url(#ohlcClip)");

            ohlcSelection.append("g")
                    .attr("class", "candlestick")
                    .attr("clip-path", "url(#ohlcClip)");

            ohlcSelection.append("g")
                    .attr("class", "indicator sma ma-0")
                    .attr("clip-path", "url(#ohlcClip)");

            ohlcSelection.append("g")
                    .attr("class", "indicator sma ma-1")
                    .attr("clip-path", "url(#ohlcClip)");

            ohlcSelection.append("g")
                    .attr("class", "indicator ema ma-2")
                    .attr("clip-path", "url(#ohlcClip)");

            ohlcSelection.append("g")
                    .attr("class", "percent axis");

            ohlcSelection.append("g")
                    .attr("class", "volume axis");

            var indicatorSelection = svg.selectAll("svg > g.indicator").data(["macd", "rsi"]).enter()
                    .append("g")
                        .attr("class", function(d) { return d + " indicator"; });

            indicatorSelection.append("g")
                    .attr("class", "axis right")
                    .attr("transform", "translate(" + x(1) + ",0)");

            indicatorSelection.append("g")
                    .attr("class", "axis left")
                    .attr("transform", "translate(" + x(0) + ",0)");

            indicatorSelection.append("g")
                    .attr("class", "indicator-plot")
                    .attr("clip-path", function(d, i) { return "url(#indicatorClip-" + i + ")"; });

            // Add trendlines and other interactions last to be above zoom pane
            svg.append('g')
                    .attr("class", "crosshair ohlc");

            svg.append("g")
                .attr("class", "bollinger");

            svg.append("g")
                    .attr("class", "tradearrow")
                    .attr("clip-path", "url(#ohlcClip)");

          
            svg.append('g')
                    .attr("class", "crosshair rsi");

            svg.append('g')
                    .attr("class", "crosshair macd");        

            svg.append("g")
                    .attr("class", "trendlines analysis")
                    .attr("clip-path", "url(#ohlcClip)");
            svg.append("g")
                    .attr("class", "supstances analysis")
                    .attr("clip-path", "url(#ohlcClip)");

    
    function reset() {
        zoom.scale(1);
        zoom.translate([0,0]);
        draw();
    }

    function zoomed() {
        x.zoomable().domain(d3.event.transform.rescaleX(zoomableInit).domain());
        y.domain(d3.event.transform.rescaleY(yInit).domain());
        yPercent.domain(d3.event.transform.rescaleY(yPercentInit).domain());

        draw();
    }

    function draw() {

      svg.select("g.x.axis").call(xAxis);
        svg.select("g.ohlc .axis").call(yAxis);
        svg.select("g.volume.axis").call(volumeAxis);
        svg.select("g.percent.axis").call(percentAxis);
        svg.select("g.macd .axis.right").call(macdAxis);
        svg.select("g.rsi .axis.right").call(rsiAxis);
        svg.select("g.macd .axis.left").call(macdAxisLeft);
        svg.select("g.rsi .axis.left").call(rsiAxisLeft);

        // We know the data does not change, a simple refresh that does not perform data joins will suffice.
        svg.select("g.candlestick").call(candlestick.refresh);
        svg.select("g.bollinger").call(bollinger.refresh);
        
        svg.select("g.close.annotation").call(closeAnnotation.refresh);
        svg.select("g.volume").call(volume.refresh);
        svg.select("g .sma.ma-0").call(sma0.refresh);
        //svg.select("g .sma.ma-1").call(sma1.refresh);
        //svg.select("g .ema.ma-2").call(ema2.refresh);
        svg.select("g.macd .indicator-plot").call(macd.refresh);
        svg.select("g.rsi .indicator-plot").call(rsi.refresh);
        svg.select("g.crosshair.ohlc").call(ohlcCrosshair.refresh);
        svg.select("g.crosshair.macd").call(macdCrosshair.refresh);
        svg.select("g.crosshair.rsi").call(rsiCrosshair.refresh);
        svg.select("g.trendlines").call(trendline.refresh);
        svg.select("g.supstances").call(supstance.refresh);
        svg.select("g.tradearrow").call(tradearrow.refresh);
    }
});
</script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Scanner</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <!--  <li ><a href="/gainerloser">Top Gainer / Looser</a></li>
            <li><a href="/gapupdown">Gap up/Down</a></li>
            <li><a href="/allCharts">Stocks Charts</a></li> -->
            <li ><a href="/scanner">Scanner</a></li>
            <li class="active"><a href="/strategy">Strategy</a></li>
            <li><a href="/applyStrategy">Apply Strategy</a></li> 
            <li><a href="/Triggers">Triggers</a></li> 
          </ul>
          <ul class="nav navbar-nav pull-right">
              <li class="dropdown pull-right"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <span id="userTxt"></span> <span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="/profile"><i class="icon-cog"></i> Profile</a></li>
                    <!-- <li><a href="/authenticate"><i class="icon-cog"></i> Upstox Login</a></li>
                    <li><a href="/preferences"><i class="icon-envelope"></i> Preferences</a></li> -->
                    <li class="divider"></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                </ul>
            </li>
          </ul>
        </div> 
      </div>
    </nav>

    <div class="container">
        <div class="row"></div>
        <br/><br/><br/>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#strategyListPanel">All strategy</a></li>
          <li ><a data-toggle="tab" href="#addStrategyPanel">Create strategy</a></li>
          <li><a data-toggle="tab" href="#backtestPanel">Backtest strategy</a></li>
        </ul>

        <div class="tab-content">
          <div id="addStrategyPanel" class="tab-pane fade">
            
            <br/>
            <div class="alert alert-warning" role="alert" id="notePanel">
                You can create your own custom strategy by adding Indicators, you can click below button to add Indicators !
            </div>

            <script id="items_tmp" type="text/template">
            {{#items}}
              <div class="indicatorsRow row row-{{id}}" id="indicatorsRow{{id}}">
                <div class="col-sm-1">
                  <span class="btn-label delBtn"><i class="glyphicon glyphicon-trash"></i></span>
                </div> 
                <div class="col-sm-2">
                  <select class="form-control indicatorTxt1" placeholder="Select Indicator">
                  </select>
                </div> 
                <div class="col-sm-2">
                  <input type="text"  class="form-control valueTxt inputTxt1" placeholder="Enter Value">
                </div> 

                <div class="col-sm-2">
                  <select class="form-control opDropDown" >
                      <option value=">">&gt;</option>
                      <option value="<">&lt;</option>
                      <option value="==">==</option>
                      <option value=">=">>=</option>
                      <option value="<="><=</option>
                      <option value="Crossed Above">Crossed Above</option>
                      <option value="Crossed Below">Crossed Below</option>
                    </select>
                </div> 
                <div class="col-sm-2">
                  <select class="form-control indicatorTxt2" placeholder="Select Indicator">
                  </select>
                </div> 

                <div class="col-sm-2">
                  <input type="text"  class="form-control valueTxt inputTxt2"  placeholder="Enter Value">
                </div>  
              </div> 
            {{/items}}
            </script>
            
            <div id="target"></div>

            <div class="row">
              <div class="col-sm-2">
                <button type="button" id="addButton" class="btn btn-primary">Add Indicators</button>
              </div>
              <div class="col-sm-2">
                <button type="button" id="saveButton" class="btn btn-success" >Save Strategy</button>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="strategyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Save Strategy</h>
                </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="nameTxt">Name</label>
                        <input type="text" class="form-control" id="nameTxt" placeholder="Enter your strategy name">
                      </div>
                      <div class="form-group">
                        <label for="descriptionTxt">Description</label>
                        <textarea class="form-control" id="descriptionTxt" rows="3"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="category">Select category</label>
                        <select class="form-control" id="category">
                          <option>Intraday Bullish scan</option>
                          <option>Intraday Bearish scan</option>
                        </select>
                      </div>
                      <label>
                        <input type="checkbox" id="is_private"> Is Private?
                    </label>
                  </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                    <button type="button" id="saveBtn" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div id="strategyListPanel" class="tab-pane fade in active">
              <br/>
              <div class="alert alert-info">  
                  <p>All custom strategy are listed below!</p>
              </div>
              <div id="strategyTable"></div>
          </div>
          <div id="backtestPanel" class="tab-pane">
              <br/>
              <div class="alert alert-info">  
                  <p>Backtest your strategy</p>
              </div>
              <div id="strategyTable1">
                 
                  <div class="row">
                        <div class="col-sm-2">
                            <label>Exchanges</label>
                            <select id="exchangesDropdown" class="form-control"></select>
                        </div>
                        <div class="col-sm-2">
                          <label>InstrumentTypes</label>
                          <select id="instrumentDropdown" class="form-control"></select>
                        </div>
                        <div class="col-sm-2">
                            <label>Symbol</label>
                            <input type="text" id="symbolTxt" list="intrumentDropdown" class="form-control" placeholder="Search symbol" required autofocus>
                            <datalist id="intrumentDropdown"></datalist>
                        </div>
                        <div class="col-sm-2">
                            <label>Interval</label>
                            <select id="intervalDropDown" class="form-control" >
                                <option value="5MINUTE">5MINUTE</option>
                                <option value="15MINUTE" selected="selected">15MINUTE</option>
                                <option value="30MINUTE">30MINUTE</option>
                                <option value="60MINUTE">60MINUTE</option>
                                <option value="1DAY" >1DAY</option>
                                <option value="1WEEK">1WEEK</option>
                                <option value="1MONTH">1MONTH</option>
                              </select>
                          </div>
                        <div class="col-sm-2">
                          <label>Strategy</label>
                          <select id="strategyDropdown" class="form-control"></select>
                        </div>
                        <div class="col-sm-2">
                            <br/>
                            <button id="backTestBtn" type="button"class="btn btn-primary">BackTest</button>
                        </div> 
                  </div>

                  <hr/>
                  <div class="row">
                    <div class="col-md-6" id="myChart" style="position: absolute; height:80vh; width:100vw;max-width: 800px;"> 
                      
                    </div>  
                  </div>

              </div>
          </div>
        </div>
    </div>
    <!-- </div> -->
    <div class="loader"></div>
</body>
</html>